.experience-card-layout {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #191A21;
    color: white;
}

.experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.experience-title {
    font-size: 21px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-transform: uppercase;
}

.experience-date {
    display: inline-block;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

.experience-role {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}

.experience-list {
    list-style-type: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    box-sizing: content-box;
}

.experience-description {
    font-size: 15px;
    font-family: var(--text-font);
}

@media only screen and (max-width: 1440px) {
    .experience-title {
        font-size: 18px;
    }

    .experience-description {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .experience-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .experience-date {
        font-size: 12px;
    }
}
