@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Rubik:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

:root {
    --bg-main: #282a36;
    --bg-secondary: #44475a;
    --main-font: "Source Sans Pro", sans-serif;
    --text-font: "IBM Plex Sans Condensed", sans-serif;
    --text-main: #EEEDE7;
    --text-code: "Space Mono", monospace;
    --bg-purple-dracula: #bd93f9;
    --bg-green-dracula: #50FA7B;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-main);
  outline: 1px solid var(--main-color);
}

/* GLOBAL */
/* Text styles */
.text {
    font-family: var(--text-font);
}

/* MODAL */
.modal-title {
    font-size: 28px;
    font-weight: 600;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.modal-text {
    font-family: var(--text-font);
    font-size: 16px;
}

@media only screen and (max-width: 1440px) {
    .modal-text {
        font-size: 14px;
    } 
}

@media only screen and (max-width: 425px) {
    .modal-text {
        font-family: 12px !important;
    }
}

/* SECTION */
.section-title {
    position: relative;
    font-size: 38px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-transform: uppercase;
    margin: 0.5em 0;
    width: fit-content;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: var(--bg-purple-dracula);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0px;
}

.section-subtitle {
    font-size: 21px;
    font-family: var(--text-font);
}

.section-description {
    margin: 0 0 1em 0;
    font-size: 21px;
    margin-bottom: 0.5em;
    font-family: var(--text-font);
    display: grid;
    gap: 0.5em;
}

/* Layout styles */
.view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

/* Information icon */
.info-icon {
   height: 17px;
   width: 17px; 
   border: none;
   background-color: #ECEFF4;
}

.info-icon:hover {
    scale: 1.1;
}

@media only screen and (max-width: 1440px) {
    .text {
        font-size: 18px;
    }

    .section-description {
        font-size: 16px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-subtitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        font-size: 28px;
    }
}

@media only screen and (max-width: 425px) {
    .section-description {
        font-size: 14px;
        grid-template-columns: 1fr;
    }
}