---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
    <div class="nf-container">
        <div>
            <div class="nf-content">
                <img src="/404.png" />
                <p> 404 </p>
                <p> Page not found </p>    
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .nf-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: var(--bg-main);
        overflow: hidden;
    }

    .nf-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .nf-content > img {
        height: 250px;
        width: 250px;
        margin: 0 auto;
        border-radius: 50%;
    }

    .nf-content > p:nth-child(2) {
        font-size: 100px;
        text-align: center;
    }

    .nf-content > p:nth-child(3) {
        font-size: 80px;
        font-weight: 400;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {
        .nf-content > img {
            height: 150px;
            width: 150px;
        }

        .nf-content > p:nth-child(2) {
            font-size: 70px;
        }

        .nf-content > p:nth-child(3) {
            font-size: 50px;
        }
    }
</style>