---
import BaseLayout from "../layouts/BaseLayout.astro";
import DescriptionCard from "../components/Cards/Description";
import PersonalDataCard from "../components/Cards/PersonalData";
import CurrentlyLearningCard from "../components/Cards/CurrentlyLearning";
---

<BaseLayout title="Who Am I ?">
<div class="container">
    <p class="section-title"> Who Am I ? </p>

    <div class="section-description">
        <!-- Personal Information Card -->
        <PersonalDataCard client:load />
        <!-- Description Card -->
        <DescriptionCard client:load />
        <!-- Currently Leaning Card -->
        <CurrentlyLearningCard client:load />
    </div>
</div>
</BaseLayout>
