.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    padding: 1rem;
    gap: 1rem;
    position: relative;
    height: fit-content;
}

.header-container-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container-data > p:first-child {
   font-size: 26px; 
   font-family: var(--main-font);
   text-transform: capitalize;
   color: var(--text-main);
}

.header-container-data > p:last-child {
    font-size: 13.5px;
    font-family: var(--main-font);
    color: var(--text-main);
}

.header-container-data > p > span {
    font-size: 18px;
}

.header-container-icons {
    display: flex;
    gap: 1rem;
    color: white;
    position: absolute; 
    right: 0;
    bottom: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.header-avatar {
    border-radius: 100%;
    height: 222px;
    width: 222px;
    z-index: 20;
}
