---
import "web-streams-polyfill/es2018";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectList from "../../components/view/Projects/ProjectList";
const projects = await Astro.glob("./*.md");
---
<BaseLayout title="Projects">
    <div class="container">
        <p class="section-title"> Projects </p>
        <p class="projects-description">
            I've done some self side projects to improve my knowledge by making front-end and back-end 
            development on my own.
        </p>
        <ProjectList client:idle projects={projects} />
    </div>
</BaseLayout>

<style>
    .projects-description {
        margin: 1rem 0 1rem 0;
    }
</style>
