.view {
    flex-direction: column !important;
    justify-content: space-evenly !important;
    background-color: var(--bg-main);
}

/* Sidebar items */
.zjk-avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("/assets/zjukd00m.png");
    cursor: pointer;
}

.zjk-name {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 42px;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.zjk-role {
    font-size: 16px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 1.3rem;
}

/* Sidebar menu */
.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.list-item {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
}

.list-item::before {
    content: "";
    position: absolute;
    background-color: var(--bg-purple-dracula);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.list-item:hover::before {
    width: 100%;
}

/* Sidebar social icon */
.social-icon {
    height: 40px;
    width: 40px;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#hamburguer-menu {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .zjk-avatar {
        height: 220px;
        width: 220px;
    }

    .zjk-name {
        font-size: 32px;
    }

    .zjk-role {
        font-size: 14px;
    }

    .list-item {
        font-size: 12px;
    }

    .sidebar-bottom {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    .view {
        height: fit-content !important;
    }

    .sidebar-top {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0.5em;
        box-sizing: border-box;
    }

    .sidebar-bottom {
        display: none;
    }

    .zjk-avatar {
        height: 55px;
        width: 55px;
        left: 0;
    }

    .zection {
        z-index: -1;
    }

    .zjk-name {
        margin: 0;
        padding: 0;
    }
    
    .zjk-role {
        margin: 0;
    }

    #hamburguer-menu {
        display: block;
        right: 0;
        color: var(--bg-purple-dracula);
    }
}
