---
// import Modal from "../components/Modal";
import AvatarModal from "../components/AvatarModal";
import Navigation from "../components/Navigation";
import Header from "../components/Header"
import GoUpButton from "../components/GoUpButton/index";
import "../styles/global.css";

const { title } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" href="favicon.png" type="image/png" />
        <script src="https://kit.fontawesome.com/61e6f6ecb5.js" crossorigin="anonymous"></script>
        <title> { title }</title>
    </head>
    <body>
        <div class="main-container">
 
            <!-- Avatar modal -->
            <!-- <AvatarModal /> -->
            
            <!-- Header -->
            <Header />

            <!-- Main content -->
            <div class="slot-layout">
                <slot />
            </div>

            <!-- Go Up Button -->
            <div class="go-up-button">
                <GoUpButton />
            </div>
        </div>
    </body>
</html>

<script>
</script>


<style>
    .main-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        background-color: #D8DEE9;
        position: relative;
    }

    #hamburguer-menu {
        display: none;
    }

    #hamburguer-menu > .fa-bars {
        color: white;
    }

    .slot-layout {
        background-color: #ECEFF4;
        /* padding: 0 30px; */
        /* overflow-y: scroll; */
        margin: 0 120px 0 120px;
    }
    
    slot {
        overflow-y: scroll;
    }

    #footer {
        width: 100%;
        grid-column: span 2;
        background-color: var(--bg-secondary);
        color: white;
        font-size: 11px;
        font-weight: 600;
        font-family: var(--text-font);
    }

    @media only screen and (max-width: 1440px) {
        .avatar {
            height: 200px;
            width: 200px;
        }
        .my-name {
            font-size: 28px;
        }
        .my-role {
            font-size: 12px;
        }
        .element-name {
            font-size: 16px;
        }
        .slot-content {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .avatar {
            height: 150px;
            width: 150px;
        }
    }

    @media only screen and (max-width: 768px) {
        /* .main-container {
            display: flex;
            flex-direction: column;
        } */

        #hamburguer-menu {
            display: block;
            place-self: center end;
            margin-right: 1rem;
        }
        
        .list-element {
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        .avatar {
            height: 60px;
            width: 60px;
        }

        .my-name {
            font-size: 16px;
            margin-top: 0;
        }

        .my-role {
            margin-top: 0;
            display: none;
        }

        .element-name {
            font-size: 18px;
        }

        .sidebar-list-container {
            display: none;
        }
    }

    @media only screen and (max-width: 425px) {
        #hamburguer-menu {
            display: block;
        }
    }
</style>